h1{
    margin-left: 180px;
    color:rgb(23, 172, 147);
    padding-top: 20px;
}
#game-conatiner{
    height:600px;
    width:600px;
    background-image: url('../images/stars.gif');
    margin-left: 300px;
   
    border-radius: 50px 20px;
    border: 2px solid burlywood;

}
#start-button{
    line-height:30px ;
    background-color: rgb(23, 172, 147,0.5);
    text-align: center;
    width: 150px;
    margin-left: 200px;
    padding: 20px;
    color:purple;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'Courier Prime', monospace;
    font-size:xx-large;
    
}
#start-button-automation{
    line-height:30px ;
    background-color: rgba(31, 184, 184, 0.5);
    text-align: center;
    width: 150px;
    margin-left: 200px;
    padding: 20px;
    color:purple;
    cursor: pointer;
    margin-top: 50px;
    font-family:'Courier Prime', monospace;
    font-size:xx-large;
}
p{
    margin-top: 50px;
    margin-left: 20px;
    color:red;
    font-size: larger;
    text-align: center;
}

