.whole-body{
	width:100%;
}
.topfix{
	width:100%;
	background-image: url('../images/header-circle-with-white-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	
	
	background-size: cover;
	
}

.head-container{
	width:100%;
	
	overflow: hidden;

	display: block;
	margin-left: 0 auto;
	z-index: 1;
	font-family: "Roboto";
	background-color: rgba(255,255,255,0.94);
	box-shadow: 0 0 5px 5px rgba(182,182,182,0.24);

}
.head-top{
	
	content:"";
	clear: both;
	display: table;
	width:100%; 
	
	
	
}

.head-top-left{
	
	float: left;

}
.head-top-right{
	
	
	float: right;


}
.top-list{
	float:left;

}
.top-list ul{
		
}
.top-list ul li{
	list-style-type: none;
	float: left;
	padding-right: 20px;
	margin: 10px;
	


}
li.facebook a:hover img{
	content: url('../images/fb-hover.png');
}
li.twitter a:hover img{
	content: url('../images/twitter-hover.png');
}
li.pininterest a:hover img{
	content: url('../images/pin-interest-hover.png');
}
li.instagram a:hover img{
	content: url('../images/insta-hover.png');
}
li.skype a:hover img{
	content: url('../images/skype-hover.png');
}
li.drop a:hover img{
	content: url('../images/dribble-hover.png');
}

.head-top-right p{
	font-size: 12px;
	padding-top: 10px;

}

.head-mid{
	
	height:1px; 
}

.bottom-left{
	float: left;
}
.bottom-left ul{
	
}
.bottom-left ul li{
	list-style-type: none;
	float: left;
	padding-right: 20px;

}

.bottom-right{
	float: right;

}
.bottom-right ul{
	
}
.bottom-right ul li{
	list-style-type: none;
	float: left;
	padding-left: 20px;
	margin-left:20px;
	border:  2px solid white;

	
	

}
.bottom-right ul li a{
	text-decoration: none;
	color:black;
}
.bottom-right  li:hover{
	border-top:  2px solid green;
}



.text-within{
	
	text-align: center;
	margin-top: 100px;
	width:80%;
	font-family: "Open Sans";
	margin-left:100px;
}
.text-within h1{
	font-size: 42px;
	margin-bottom:30px;
}
.text-within p{
	font-size:20px;
	margin-bottom: 30px;
}
.text-within a{
	text-decoration: none;
	color: black;
}
.text-within a:hover{
	color:green;

}
.text-within2{
	margin-top:200px;
	margin-left: 80px;
	margin-bottom: 20px;
	font-family: "Roboto";
	width:100%;
	display: block;

}
.text-within2-left{
	width:40%;
	font-size: 12px;
	float: left;
	
}
.text-within2-left h2{
	font-size: 40px;
	margin-bottom: 10px;
}
.text-within2-left p{
	font-size: 16px;
	text-align: left;
}
.text-within2-right{
	
	
	margin-top: 40px;
	width:60%;
	float: right;
}
.text-within2-right ul li{
	float: left;
	
	margin-left: 10px;
	list-style-type: none;
	margin-right: 10px;
}
.laptop{
	
	width:100%;
	margin-top: 300px;
	margin-bottom: 50px;
	font-family: "Open Sans";

}
.laptop-left{
	width:30%;
	float: left;

}
.laptop-left img{
	display: block;
	height: 300px;
	float: left;
}
.laptop-right{
	float: right;
	width:60%;
	margin-left: 100px;

}
.laptop-right h3{
	font-size: 16px;
		
}
.laoptop-right p{
	font-size: 12px;
	
}
.laptop-right-sidebar{
	float: left;
	font-size: 16px;

}
.laptop-right-sidebar ul li {
	float: left;
	
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;

}
.laptop-right-sidebar ul li img{
	float: left;
	margin-right:20px;
	padding: 10px;

}

.laptop-right-sidebar ul li p{
	float: right;
	margin-left: 70px;


}
.laptop-right p,h3{
	
}
li.dis:hover img{
	content: url('../images/cicle-hover.png');
}
li.man:hover img{
	content: url('../images/bulb-hover.png');
}
li.Team:hover img{
	content: url('../images/attatch-hover.png');
}
li.Unlimited:hover img{
	content: url('../images/correct-hover.png');
}


.slanted{
	width:100%;
}
.slanted-wrapper{
	
	float: right;
	background-image: url('../images/lower-slanted-image.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	
	
	background-size: cover;
}
.slanted-right{
	float: right;
	top:50px;
	left:1150px;

	
}
.slanted-l{
	margin-top: 100px;
  text-align: center;
  float: left;
  width:50%;
  margin-left: 30px;
  font-family: "Open Sans";
  color:black;
 
}
.slanted-l h2{
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
}
.slanted-l p{
	font-size:12px;
	text-align: left;
}
.topl{
	width:660px;
	float: left
}
.one{
	width:330px;
	height: 200px;
	background-color: red;
	float: left;
}

.two{
	width:330px;
	height: 200px;
	background-color: green;
	float: left;
}
.three{
	width:330px;
	height: 200px;
	background-color: yellow;
	float: left;
}
.four{
	width:330px;
	height: 200px;
	background-color: grey;
	float: left;
}
