* {
    padding: 0px;
    margin: 0px;
}

.clear:after, .clear:before {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

img {
    width: auto;
    height: auto;
    display: block;
}

a{
    cursor: pointer;
}