.our-team-container {
    background-color: #f3f3f3;
    background-image: url('/images/background-our-team-image.png');
    background-repeat: repeat-x;
    padding-left: 163px;
    padding-right: 163px;
    
}

.our-team-container h1 {
    text-align: center;
}

.team-heading {
    line-height: 180px;
}

.team-member-info {
    width: 270px;
    height: 314px;
}

.team-member-image {
    background-color: #f8f8f8;
    background-image: url('/images/background-team-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

.team-member-details {
    display: none;
    line-height: 27px;
    color: #fcffff;
    background-image: url('/images/frame-team-member-details.png');
    background-color: #90d1cb;
    background-repeat: no-repeat;
    background-position: center;
}

.team-member-details p{
    width: 200px;
    height: 107px;
    overflow: hidden;
}

.image-links {
    padding-top: 72px;
}

.image-links img {
    width: auto;
    height: auto;
    display: inline;
    margin-right:7px;
}

.team-member-details{
    padding-top: 34px;
    padding-right: 34px;
    padding-left: 36px;
    padding-bottom: 52px;
}

.team-member {
    float: left;
    position: relative;
    margin: 30px;
}

.team-member:hover .team-member-image {
    display: none;
}

.team-member:hover .team-member-details {
    display: block;
}

.team-member:hover .team-member-button-inactive {
    background-color: #e9645b;
    background-image: url('/images/button-team-member-hover.png');
}

.team-member-button-inactive {
    position : absolute;
    left: 34px;
    bottom: -18px;
    color: #fbffff;
    text-align: center;
    line-height: 54px;
    width: 200px;
    background-color: #99a3a4;
    background-image: url('/images/button-team-member.png');
    background-repeat: no-repeat;
}

.team-member-button-inactive a {
    display: block;
    text-decoration-line: none;
    color: #fcffff;
}